<div>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <!-- <ng4geo-autocomplete
    (componentCallback)="autoCompleteCallback1($event)"> -->
      <!-- </ng4geo-autocomplete> -->
      <textarea matInput placeholder="Enter your starting point" input (keyup)="onEnter($event)"></textarea>

    </mat-form-field>
  </form>

  <form (ngSubmit)="onClickMe()" class="example-form">
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Enter your destination" input (keyup)="onEnter2($event)"></textarea>
    </mat-form-field>
 </form>

 <!-- <form (ngSubmit)="onClickMe()" class="example-form">
   <mat-form-field class="example-full-width">
     <input matInput ngx-google-places-autocomplete placeholder="Enter your destination" #placesRef="ngx-places" (keyup)="onEnter2($event)"/>
   </mat-form-field>
</form> -->

  <br>
  <app-map></app-map>
  <br>
  <br>

</div>

<div class="button">
  <a routerLink="/fares"><button mat-raised-button (click)="onClickMe()">Request Fares</button></a>
</div>
