<div class="container">
    <h4>Hey.Man</h4>
  <div class="search-container">
    <div (ngSubmit)="onClickMe()" class="example-form">
      <p class="title">From:</p>
      <input type ="text" id="inputOrigin" matInput placeholder="Enter your starting point" ngx-google-places-autocomplete [options]='options'
        #placesRef="ngx-places" (onAddressChange)="handleAddressChangeOrigin($event)" (keyup)="handleAddressChangeOrigin($event)" />
    </div>
    <div (ngSubmit)="onClickMe()" class="example-form">
      <p class="title">To:</p>
      <input type="text" id="inputDestination" matInput placeholder="Enter your destination" ngx-google-places-autocomplete [options]='options'
        #placesRef="ngx-places" (onAddressChange)="handleAddressChangeDestination($event)" (keyup)="handleAddressChangeDestination($event)"/>
    </div>
    <div class="button">
      <button mat-raised-button (click)="onClickMe()">Request Fares</button>
    </div>
  </div>
</div>

<div class="map">
  <!--DO: try to show results in the same component-->
  <div class="mapWrapper">
    <app-map *ngIf="!origin.lat || !origin.lng || !destination.lat || !destination.lng"></app-map>
    <app-road *ngIf="origin.lat && origin.lng && destination.lat && destination.lng" [origin]="origin" [destination]="destination">
    </app-road>
  </div>
  <div class="rates"
    *ngIf="origin.lat && origin.lng && destination.lat && destination.lng">
    <app-rates [origin]="origin" [destination]="destination">
    </app-rates>
  </div>
</div>

