.cabi img {
  width: 80px;
  height: auto;
}

.cabi {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  border: solid 1px grey;
  margin-bottom: 3vh;
  margin-top: 3vh;
  background-color: white;
  box-shadow: 10px 10px 8px #888888;
}
