a img {
  width: 20px;
  height: auto;
}

.logo {
  width: 75px;
  height: auto;
  border-radius: 50%;
}

.cabi {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
  margin: 10px 10px;
  background-color: #454d5a;
}
