.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 24px;
  margin-left: 11vw;
  color: black;
  font-family: serif;
  height: 10vh;
  border-style: solid 1px black;
  margin-bottom: 4vh;
}

img {
  width: 90px;
  height: auto;
  margin-bottom: 2vh;
}

.copy {
  font-size: 12px;
  position: fixed;
  bottom: 2px;
}
